.backgroundsection {
    width: auto;
    height: 57px;
    background-color: #3D4039;
    color: #F2F2F1;
    display: flex;
}

.paragraph {
    margin: 12px 0px 0px 512px;
    font-size: 25px;
    width: 500px;
}

.btn-2 {
    background-color: #f2f2f1;
    color: #3A4548;
    border-radius: 13px;
    margin: 21px 0px 30px 115px;
    font-size: 16px;
    width: 169px;
    height: 34px;
}

.bodysection {
    background-color: #212121;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.prisecolor {
    color: #ffffff;
}