<app-navbar></app-navbar>

<!-- body -->

<section class="backgroundsection text-center ">
    <div>
        <h3 class="paragraph">
            Our Collection
        </h3>
    </div>
</section>


<section class="bodysection">
    <div>
        <button type="button" class="btn-2">Search For Product</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup3-1.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup4-1.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup4-1.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup4-1.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>
    </div>
</section>












<app-footer></app-footer>