<app-navbar></app-navbar>
<!-- Star of the body -->
<section class="p-5 text-center ">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="theway">The Way Through The Uniquness</h1>
                <button [routerLink]="['/ourcollection']" type="button" class="btn-1">Explore</button>
                <p class="easysteps">
                    Easy Steps - Best Quality
                </p>
            </div>
            <img class="img-fluid d-sm-block" src="./assets/images/wirefamehooked-1.png">
        </div>
    </div>
</section>


<!-- cutomize button -->
<section class="backgroundsection text-center ">
    <div>
        <h3 class="paragraph">
            Hoocked is the Easiest way to get your Dream looking Shirt
        </h3>
    </div>
    <div>
        <button [routerLink]="['/customize']" type="button" class="btn-2">Customize</button>
    </div>
</section>


<!-- body -->
<section class="bodysection">
    <div>
        <h4 class="text-center text-white">Hoocked Extra Services</h4>
    </div>
    <div class="services-box">
        <p class="details-1">Hoocked provides extra help for the customors that can't make a logo:</p>
        <p class="details-1">- Think of any logo (design) you like or wish to have it on your shirt.</p>
        <p class="details-1">- Contact Hooked services to get help with your logo design.</p>
        <p class="details-1">- Stay in touch (between 1h to 25h to get the final result)</p>
    </div>
    <div>
        <h4 class="text-center ourcolction text-white">Our Collection</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup3-1.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="./assets/images/mockup4-1.png" alt="image1" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup2-1.png" alt="image2" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
            <div class="col-4">
                <img src="./assets/images/mockup-1-modifer.png" alt="image3" style="width:100%">
                <p class="prisecolor">prise: 40dt</p>
                <p class="prisecolor">Size: S - M - L - XL</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>